.grid {
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: end;
}

.header {
  background: #2ecc71;
}

.content {
  background: #3498db;
}

.nav { 
  background: #8e44ad;
}

.footer {
  background: #f39c12;
}