.wrapper {
  display: flex;
  flex-direction: column;
  /* Main Axis */
  justify-content:center;
  /* Cross Axis */
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}